// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$twitter_color: #74b8ea;
$local_color: #9c4274;
$google_plus_color: #D34836;
$instagram_color: rgb(81, 127, 164);
$pintrest_color: #C92228;

#card-list-container {
  .card {
    border: none;
    border-radius: 0;
    
    .panel-heading{
      border-radius: 0;
      h4.panel-title {
        color: #E4E4E4;
        a {
          text-decoration: none;
        }
      }
    }

    &.card_twitter {
      .panel-body {
        background-color: $twitter_color;
        border: none;
      }
      .panel-heading {
        background-color: $twitter_color;
      }
      .twitter-tweet{
        background-color: white;
      }
    }
  
    &.card_local{
      .panel-body {
        background-color: $local_color;
        border: none;
      }
      .panel-heading {
        background-color: $local_color;
      }
    }
  
    &.card_google_plus{
      .panel-body {
        background-color: $google_plus_color;
        border: none;
      }
      .panel-heading {
        background-color: $google_plus_color;
      }
    }
  
    &.card_instagram {
      .panel-body {
        background-color: $instagram_color;
        border: none;
      }
      .panel-heading {
        background-color: $instagram_color;
      }
    }
  
    &.card_pintrest{
      .panel-body {
        background-color: $pintrest_color;
        border: none;
      }
      .panel-heading {
        background-color: $pintrest_color;        
      }
    }
    -webkit-transition:0.3s linear all;                                                                                                                         
    -moz-transition:0.3s linear all;                                                                                                                            
    -o-transition:0.3s linear all;                                                                                                                              
    transition:0.3s linear all;
  
    
    
    margin-bottom: 15px;
    //padding: 30px;
    //background-size: 100%;
  
    &.ng-enter {
      -webkit-animation: fadeIn 0.3s;
      -moz-animation: fadeIn 0.3s;
      -ms-animation: fadeIn 0.3s;
      animation: fadeIn 0.3s;
    }
    
    &.ng-leave {
      -webkit-animation: fadeOut 0.3s;
      -moz-animation: fadeOut 0.3s;
      -ms-animation: fadeOut 0.3s;
      animation: fadeOut 0.3s;
    }
  }
}




