// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$twitter_color: #74b8ea;
$local_color: #9c4274;
$google_plus_color: #D34836;
$instagram_color: rgb(81, 127, 164);
$pintrest_color: #C92228;

#card-list-container {
  .card_twitter {
    background-color: $twitter_color;
    p {
      color: darken($twitter_color, 40%);
    }
    &.active {
      background-color: lighten($twitter_color, 20%);
    }
  }

  .card_local{
    background-color: $local_color;
    p {
      color: darken($local_color, 30%);
    }
    &.active{
      background-color: lighten($local_color, 30%);
    }
  }

  .card_google_plus{
    background-color: $google_plus_color;
    p {
      color: darken($google_plus_color, 30%);
    }
    &.active{
      background-color: lighten($google_plus_color, 20%);
    }
  }

  .card_instagram{
    background-color: $instagram_color;
    p {
      color: darken($instagram_color, 40%);
    }
    &.active{
      background-color: lighten($instagram_color, 20%);
    }
  }

  .card_pintrest{
    background-color: $pintrest_color;
    p {
      color: darken($pintrest_color, 30%);
    }
    &.active{
      background-color: lighten($pintrest_color, 20%);
    }
  }


  .jumbotron{
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-in);

    margin-bottom: 15px;
    padding: 30px;
  }
}

