// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#card-list-container{
  .card_twitter{
    background-color: #74b8ea;;
  }

  .card_local{
    background-color: #9c4274;
  }

  .card_google_plus{
    background-color: #D34836;
  }

  .card_instagram{
    background-color: rgb(81, 127, 164);
  }

  .card_pintrest{
    background-color: #C92228;
  }

  .jumbotron{
    margin-bottom: 15px;
    padding: 30px;
    p{
      color: white;
    }
  }
}

